
<div>
    <h3 matSubheader>Accounts</h3>
    <app-account *ngFor="let account of products.accounts" [account]="account">
    </app-account>
<!--  <div class="row" *ngFor="let account of products.accounts">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <span class="alias">{{ account.alias }}</span>-->
<!--        <span class="balance">{{ account.balance }} {{ account.currency }}</span>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <span>{{ account.type }}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--    </div>-->
<!--  </div>-->
</div>


